<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/styles.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../JS/teacherModify.js"></script>

    <title>ELOT</title>
  </head>
  <body>
    <!-- header -->
    <div class="col-md-3 col-md-offset-1 header-container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 title">
          <span>English Learner's<br> Online Tool</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 steps">
          <span>1. Input Passage</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 steps selected">
          <span>2. Specify/Modify</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 steps">
          <span>3. Create Link</span>
        </div>
      </div>
    </div>

    <!-- body -->
    <div class="col-md-7 main-container">

      <div class="row">
        <div class="col-md-8 col-md-offset-1 process-btn-container">
            <input type="text" placeholder="Assignment Title" class="hover teacher-input smaller">
            <span class="checkboxLabel"><strong><em><!--This title has been taken, please try another.--></em></strong></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-1 col-xs-8 input-container small">
          <p class="teacher-input no-text-change" id='teacher-modify-box'></p>
        </div>

        <div class="col-md-3 col-xs-4">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#" class="syll" data-pos="syll">Syllable</a></li>
            <li role="presentation" class="col-md-10 col-xs-10"><a href="#" class="noun" data-pos="noun">Noun</a></li>
            <li role="presentation" class="col-md-10 col-xs-10"><a href="#" class="verb" data-pos="verb">Verb</a></li>
            <li role="presentation" class="col-md-10 col-xs-10"><a href="#" class="adj" data-pos="adjective">Adjective</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-1 process-btn-container">
          <button type="button" name="button" class="btn btn-default process-btn"><strong>Create Student Link</strong></button>
        </div>
      </div>

    <!-- close main container -->
    </div>

    <div class="row col-md-12 footer">

    </div>

  </body>
</html>
